footer {
    background: #2e2e38;
    padding: 100px 0;
    color: white;
    font-size: 15px;
    overflow: hidden;
    
    @include small {
        padding: 50px 0;
    }
    
    .container {
        
        @include small {
            padding-left: 30px; 
        }
    }
    
    .footer-logo {
        margin-bottom: 60px;
        
        
    }
    
    h4 {
        margin-bottom: 30px;
        font-weight: 700;
        
        @include small {
            font-size: 20px;
        }
    }
        
    .col-4-footer{
            
        float: left;
        width: 33.33%;
        padding-right: 70px;
        
        @include betweenMedium {
            float: left;
            width: 33.33%;
            padding-right: 30px;
        }
        
        @include small {
            float: none;
            width: 100%;
            padding-right: 0;
            margin-bottom: 20px;
        }
            
    }
    
    ul li {
        margin-bottom: 30px;
    }
    
    p {
        font-size: 13px;
        font-family: 'Montserrat';
        font-weight: 300;
        line-height: 20px;
    }
    
    span {
        display: block;
    }
    
    span.tweet-hours {
        font-size: 11px;
        margin-top: 10px;
    }
    
    .popular-post li {
        background: url('../img/rectangle-image.png') no-repeat;
        padding-left: 70px;
    }
    
}