#copyright {
    background: #d7dedc;
    font-size: 12px;
    font-weight: 300;
        
    .container {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .inline {
        display: inline-block;
        vertical-align: middle;
        padding-right: 50px;
    }
    .inline:nth-child(1):after,
    .inline:nth-child(2):after {
        content: "|";
        margin-left: 35px;
    }
    img {
        vertical-align: top;
        margin-top: 0;
        margin-left: 10px;
        transition: .1s;
        cursor: pointer;
    }
    img:hover {
        transform: rotate(-5deg);
    }
}