#hero {
    
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3)), url('../img/background-cover.png'); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    

    .hero-upper {
        
        ul li {
            display: inline-block;
            margin-right: 40px;
            margin-top: 20px;
            
            @include small {
                display: none;
            }
        }
        
        li a {
            color: white;
            border-bottom: 4px solid white transparent;
            text-transform: uppercase;
            transition: border-bottom 0.1s, color 0.1s;
            padding-bottom: 4px;
            
        }
        
        li a:hover {
            border-bottom: 4px solid white;
        }
        
        .hero-logo {
            float: left;
        }
        
        .hero-nav {
            float: right;
        }
        
    }
    
    .hero-lower {
        
        display: inline-block;
        position: relative;
        color:  white;
        margin-top: 150px;
        
        @include betweenMedium {
            margin-top: 70px;
            text-align: center;
        }
        
        
        h2 {
            margin-bottom: 40px;
            
            @include small {
                font-size: 40px;
                padding: 0 20px;
                margin-bottom: 20px;
            }
            
            @include extraSmall {
                font-size: 40px;
                padding: 0;
                margin-bottom: 30px;
            }
        }
        
        p {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 55px;
        
            @include small {
                padding: 0 20px;
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 35px;
            }
            
            @include extraSmall {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 30px;
            }
        }
        
        .hero-image {
            float: right;
            position: absolute;
            top: -80px;
            right: -120px;
            opacity: 0;
            
            @include betweenMedium {
                display: none;
            }
        }
        
        .iphone-image {
            width: 85%;
            position: relative;
            margin-bottom: -240px;
            opacity: 0;
        }
        
        .iphone-off {
            position: absolute;
            right: 95px;
            width: 85%;
            
        }
        
        .iphone-btn {
            position: absolute;
            right: 215px;
        }
        
        .iphone-on {
            position: absolute;
            width: 55%;
            right: 185px;
            top: 107px;
            z-index: 999;
            opacity: 0;
        }
        
        
        .hero-text {
            width: 60%;
            padding-right: 100px;
            margin-bottom: 10px;
            
            @include betweenMedium {
                width: 100%;
                text-align: center;
                padding-right: 0;
            }
            
            @include small {
                width: 100%;
                padding-right: 0;
            }
            
        }
        
        .hero-btn {
            padding: 22px 40px;
            background: #282828;
            color: white;
            border-radius: 40px;
            transition: .2s;
            text-transform: uppercase;
            
            @include extraSmall {
                display: inline-block;
                padding: 15px 25px;
                font-size: 15px;
                text-align: center;
                word-wrap: break-word;
                
            }
            
        }
        
        .hero-btn:hover {
            background: #383737;
        }
        .btn-phone {
            vertical-align: middle;
            padding-right: 10px;
            
            @include extraSmall {
                display: none;
            }
        }
    }
    
}