/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url("../fonts/HelveticaNeue-Thin.otf");
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 52px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  font-family: 'HelveticaNeue-Thin';
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.container {
  max-width: 1100px;
  padding: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/background-cover.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

#hero .hero-upper ul li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
}

#hero .hero-upper li a {
  color: white;
  border-bottom: 4px solid white transparent;
  text-transform: uppercase;
  transition: border-bottom 0.1s, color 0.1s;
  padding-bottom: 4px;
}

#hero .hero-upper li a:hover {
  border-bottom: 4px solid white;
}

#hero .hero-upper .hero-logo {
  float: left;
}

#hero .hero-upper .hero-nav {
  float: right;
}

#hero .hero-lower {
  display: inline-block;
  position: relative;
  color: white;
  margin-top: 150px;
}

#hero .hero-lower h2 {
  margin-bottom: 40px;
}

#hero .hero-lower p {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 55px;
}

#hero .hero-lower .hero-image {
  float: right;
  position: absolute;
  top: -80px;
  right: -120px;
}

#hero .hero-lower .iphone-image {
  width: 85%;
  position: relative;
  margin-bottom: -240px;
  opacity: 0;
}

#hero .hero-lower .iphone-off {
  position: absolute;
  right: 95px;
  width: 85%;
  opacity: 1;
}

#hero .hero-lower .iphone-btn {
  position: absolute;
  right: 215px;
}

#hero .hero-lower .iphone-on {
  position: absolute;
  width: 55%;
  right: 185px;
  top: 107px;
  z-index: 1;
}

#hero .hero-lower .hero-text {
  width: 60%;
  padding-right: 100px;
  margin-bottom: 10px;
}

#hero .hero-lower .hero-btn {
  padding: 22px 40px;
  background: #282828;
  color: white;
  border-radius: 40px;
  transition: .2s;
  text-transform: uppercase;
}

#hero .hero-lower .hero-btn:hover {
  background: #383737;
}

#hero .hero-lower .btn-phone {
  vertical-align: middle;
  padding-right: 10px;
}

#features {
  text-align: center;
}

.features-heading {
  margin-top: 40px;
}

.features-heading h2 {
  color: #8a8a8a;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.features-heading .features-p {
  font-size: 22px;
  line-height: 30px;
  padding: 0 140px;
  font-weight: 700;
}

.row {
  overflow: hidden;
  margin-top: 50px;
}

.row .col-4-app {
  width: 33.33%;
  float: left;
  padding: 0 35px;
}

.row .col-4-app h3 {
  margin: 30px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

.row .col-4-app p {
  color: #585858;
  font-size: 18px;
  line-height: 24px;
}

#additional-details {
  background: url("../img/nose-bg.png");
  background-size: cover;
  background-attachment: fixed;
}

#additional-details .additional-details-text {
  width: 65%;
  padding: 100px 0;
}

#additional-details .additional-details-text h2 {
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 50px;
  color: white;
}

#additional-details .additional-details-text h2 span {
  color: #f55150;
}

#additional-details .additional-details-text p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 80px;
  padding-right: 150px;
  color: #585858;
}

#additional-details .additional-details-text .additional-details-btn {
  background: #f55150;
  padding: 15px 50px;
  border-radius: 20%;
  color: white;
  transition: all .2s;
  margin-right: 16px;
}

#additional-details .additional-details-text .additional-details-btn:hover {
  background: #f66968;
}

footer {
  background: #2e2e38;
  padding: 100px 0;
  color: white;
  font-size: 15px;
  overflow: hidden;
}

footer .footer-logo {
  margin-bottom: 60px;
}

footer h4 {
  margin-bottom: 30px;
  font-weight: 700;
}

footer .col-4-footer {
  float: left;
  width: 33.33%;
  padding-right: 70px;
}

footer ul li {
  margin-bottom: 30px;
}

footer p {
  font-size: 13px;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 20px;
}

footer span {
  display: block;
}

footer span.tweet-hours {
  font-size: 11px;
  margin-top: 10px;
}

footer .popular-post li {
  background: url("../img/rectangle-image.png") no-repeat;
  padding-left: 70px;
}

#copyright {
  background: #d7dedc;
}

#copyright .container {
  text-align: center;
}

#copyright .inline {
  display: inline-block;
  vertical-align: middle;
  padding-right: 50px;
}

#copyright .inline:nth-child(1):after,
#copyright .inline:nth-child(2):after {
  content: "|";
  margin-left: 35px;
}

#copyright img {
  vertical-align: top;
  margin-top: 0;
  margin-left: 10px;
  transition: .1s;
  cursor: pointer;
}

#copyright img:hover {
  transform: rotate(-5deg);
}
